.vertical-menu {
  width: 200px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  padding: 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  text-align: center;
}

.vertical-menu a {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ccc;
}

.vertical-menu a.active {
  background-color: #3b5998;
  color: white;
}